<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View User page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/reserve.css"/>
	 <link rel="shortcut icon" href="/images/sunny.jpg"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>


    .form{
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.01);
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        width: 650px;
        border-radius: 20px;
        margin: 50px auto;
    }
</style>
<body>
<div class="body">
    <nav class="white z-depth-0" sec:authorize="isAnonymous()" th:replace="fragments/header_guest :: header"></nav>
    <nav class="white z-depth-0" sec:authorize="isAuthenticated()" th:replace="fragments/header_user :: header"></nav>
		<div class="form text-center"><br>

			<div th:include="fragments/components :: errors"></div>
			<h3>New User</h3><br>
			<form th:action="@{/admin/user/add}" th:object="${user}"
      method="post" style="max-width: 500px; margin: 0 auto;">
        <div class="form-group row">
            <label class="col-4 col-form-label">User Name: </label>
            <div class="col-8">
                <input type="text" th:field="*{username}" class="form-control" required />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Password: </label>
            <div class="col-8">
                <input type="password" th:field="*{password}" class="form-control"
                       required minlength="6" maxlength="10"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">Email: </label>
            <div class="col-8">
                <input type="email" th:field="*{email}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">mobile: </label>
            <div class="col-8">
                <input type="text" th:field="*{mobile}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">address: </label>
            <div class="col-8">
                <input type="text" th:field="*{address}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">city: </label>
            <div class="col-8">
                <input type="text" th:field="*{city}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">province: </label>
            <div class="col-8">
                <input type="text" th:field="*{province}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">postcode: </label>
            <div class="col-8">
                <input type="text" th:field="*{postcode}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">country: </label>
            <div class="col-8">
                <input type="text" th:field="*{country}" class="form-control"/>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="margin-left: 180px">Add User</button><br><br>
        </div>
			</form>		
    </div>
    <div th:include="fragments/components :: footer"></div>
</div>
</body>
</html>
